@use "@/styles/mixin.scss" as *;

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 0 40px;
}

@include tablet {
    .container {
        padding: 0 32px;
    }
}

@include mobile_sm {
    .container {
        padding: 0 16px;
    }
}