// FONT SIZES
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 24px;
$font-3xl: 28px;
$font-4xl: 32px;
$font-5xl: 48px;

// FONT WEIGHTS
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

// BORDER RADIUS
$radius-button: 48px;
$radius-general: 16px;

// PADDING
$padding-md: 40px;
$padding-sm: 40px 16px;
$button-lg: 20px 32px;
$button-md: 16px 24px;
$button-sm: 8px 16px;

// COLOR PRESETS
$primary: #578FCA;
$primary-dark: #3674B5;
$secondary: #71BBB2;
$secondary-dark: #48A6A7;
// $secondary: #FF9B82;
// $secondary-dark: #F38C74;
// $tertiary: #FFD6BA;
// $tertiary: #FFECDB;
// $tertiary: #FFDCCC;
$tertiary: #F1E3D3;
$accent: #F38C74;
$error: #C5172E;

// GREYSCALE
$black: #000000;
$grey-1: #111111;
$grey-2: #222222;
$grey-3: #333333;
$grey-4: #444444;
$grey-5: #555555;
$grey-6: #666666;
$dark-grey: #7B7B7B;
$light-grey: #B3B3B3;
$very-light-grey: #F0F0F0;
$white: #FFFFFF;

// OTHER
$linkedin: #0a66c2;

@mixin ultra_wide {
    @media only screen and (min-width: 1441px) {
        @content;
    }
}

@mixin laptop_lg {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile_sm {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

@mixin mobile_xs {
    @media only screen and (max-width: 420px) {
        @content;
    }
}